* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}


.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.project-entry:nth-child(n+3){
  padding-top: 4%;
}

#header {
  padding-top: 70px;
}

.inline_link {
  display: inline;
}

.stack {
  display: inline;
}

.center-text {
  color: #484848;
}

h1 {
  font-size: 40px;
  color: #484848;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #000000;
  line-height: 22px;
  padding-top: 20px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #db4a39;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  color: #1199C3;
  text-decoration: none;
}

.project-focus a {
  text-decoration: none;
}

.project-entry a {
  width: 33%;
  text-decoration: none;
}

.work-entry a {
  width: 28%;
}

a.bug{
  width: 50%;
}

.education-entry a {
  width: 35%;
}

.onlineclassUrl {
  margin-top: 0;
}

.workPublication {
  margin: 0;
  width: 25%;
  display: inline;
}

.project-img{
  margin-top: 10px;
  margin-right: 15px;
}

a.project-img {
  display:inline;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.resumePdf.flex-box {
  justify-content: flex-start;
  padding-top: 0;
}

#topContacts {
  padding-top: 0;
}

#topContacts a {
  color: #484848;
  display: inline;
}

#topContacts a:hover {
  color: #1199C3;
  text-decoration: none;
}

#footerContacts a:hover {
  color: #1199C3;
  text-decoration: none;
}

#footerContacts a {
  color: #484848;
  display: inline;

}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skills {
  display: block;
}

#skillsH3 {
  color: #db4a39;
  display: none;
}

.orange {
  background-color: #db4a39;
}

.orange-text {
  color: #db4a39;
}


.white-text {
  color: #484848;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #ddd;
}

#header {
  background-color: #ddd;
  margin-top: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

#skills {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

/*Lightbox overlay*/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
  margin-top: 20%;
}

#overlay p {
  color:white;
  margin-left: 22%;
  margin-right: 22%;
}

/*map infowindow*/

.iw_title {
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 10px;
}

.iw_city {
  text-align: center;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.footer-credit {
  color: #484848;
  padding-left: 10px;
  padding-bottom: 10px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #484848;
}

#letsConnect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/*Anything less than 1024px*/
@media only screen and (max-width: 1024px) {
    #letsConnect {
        margin-top: 5%;
    }
}

/*Anything less than 900px*/
@media only screen and (max-width: 900px) {
    .biopic {
        width: 175px;
    }
}

/*Anything less than 750px*/
@media only screen and (max-width: 750px) {
    #letsConnect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    }
}
/*larger than ipad*/
@media only screen and (min-width: 750px) {
    #skillsH3,
    .biopic {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
  #map {
    height: 80%;
  }

  .education-entry a {
    width: 100%;
  }

  a.bug {
    width: 100%;
  }

  .work-entry a {
    width: 100%;
  }

  .workPublication {
    word-wrap: break-word;
  }

  .work-entry p {
    text
  }

  #main {
    width: 100%;
    overflow:hidden;
  }
}

.navbar-inverse {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  margin-bottom: 0;
  border-radius: 0;
}
